a:link {color: orange;}
a:visited {color: orange;}
a:hover {color: rgb(200, 200, 200);}
a:active {color: rgb(200, 200, 200);}
a {text-decoration: none;}
body
{
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 15px;
    color: rgb(200, 200, 200);
    background-color: rgb(0, 0, 0);
    padding: 0 10px
}
h1,h2,h3
{
    text-align: center;
    line-height: 1.2
}
p
{
    font-size: 14px;
}